/* GLOBAL STYLES - start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #2F4858;
    color: #DFE0DF;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

li {
    list-style: none;
}

a {
    color: #DFE0DF;
    text-decoration: none;
}

input {
    padding: 10px 15px;
    font-size: 1.8rem;
    border: 0.2rem solid #427EFF;
    border-radius: 1rem;
    background: #2F4858;
    color: #DFE0DF;
}

input::placeholder {
    color: #DFE0DF;
}

input:hover {
    background: #BCA79D;
}

button {
    padding: 5px 8px;
    font-size: 1.8rem;
    border: 0.2rem solid #BCA79D;
    border-radius: 1rem;
    color: #2F4858;
    background-color: #DFE0DF;
    width: 40%;
    margin: 0 auto;
}

button:hover {
    background-color: #BCA79D;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* GLOBAL STYLES - end */

/* HEADER STYLES - start */

.header-wrapper {
    position: sticky;
    top: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DFE0DF;
}

.header-logo {
    width: 40rem;
}

.header-navigation {
    display: flex;
}

.nav-link {
    margin-left: 50px;
    color: #2F4858;
    font-size: 1.6rem;
}

.nav-link:hover,
.nav-link:active {
    color: #E56313;
}

/* HEADER STYLES - end */

/* INTRO STYLES - start */

.intro {
    padding-top: 35px;
}

.intro-title {
    font-size: 4rem;
    color: #E56313;
    text-align: center;
}

.intro-form {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

/* INTRO STYLES - end */

/* FEATURES STYLES - start */

.features-wrapper {
    padding-top: 45px;
    text-align: center;
}

.features-item {
    margin-bottom: 20px;
}

.features-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BCA79D;
    padding-bottom: 10px;
}

.icon {
    margin-right: 8px;
}

.features-description {
    text-align: justify;
}

.features-description::first-letter {
    font-size: 2rem;
    color: #E56313;
    float: left;
    margin-right: 0.3rem;
}

/* FEATURES STYLES - end */

/* VIDEO STYLES - start */

.video-wrapper {
    text-align: center;
    padding: 60px 0;
}

/* VIDEO STYLES - end */

/* PRODUCTS STYLES - start */

.products {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;

}

.card {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid #DFE0DF;
    background-color: #DFE0DF;
    color: #2F4858;
    width: 30%;
    padding: 10px 15px 15px;
    text-align: center;
}

.card-title {
    border-bottom: 0.1rem solid #BCA79D;
    color: #427EFF;
    padding-bottom: 5px;
}

.card-price {
    color: #427EFF;
    padding-top: 5px;
}

.card-description {
    text-align: justify;
    padding-bottom: 20px;
}

.card-description::first-letter {
    font-size: 1.5rem;
    color: #E56313;
    float: left;
    margin-right: 0.1rem;
}

/* PRODUCTS STYLES - start */

/* FOOTER STYLES - start */

.footer {
    text-align: center;
    padding-bottom: 25px;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-links>li:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

/* FOOTER STYLES - end */

/* MEDIA QUERIES - start */

@media (max-width: 800px) {

    .nav-link {
        margin-left: 10px;
    }

    .features-wrapper {
        padding: 45px;
    }

    .products {
        justify-content: space-evenly;
    }
}

@media (max-width: 600px) {
    .header-navigation {
        display: none;
    }

    .logo {
        margin: auto;
    }
}